In [17]:
import numpy as np
import pandas as pd

In [30]:
#Lectura del fitxer csv 
df_passengers = pd.read_csv('estat_avia_paoa_filtered_en.csv')
df_passengers.shape

(9803, 11)

Tenim 9.803 observacions amb 11 variables cada una.

In [31]:
df_passengers.head()

,STRUCTURE,STRUCTURE_ID,freq,unit,tra_meas,rep_airp,schedule,tra_cov,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,dataflow,ESTAT:AVIA_PAOA(1.0),A,PAS,PAS_BRD_ARR,AT_LOWG,TOT,INTL,2017,408716,NaN
1,dataflow,ESTAT:AVIA_PAOA(1.0),A,PAS,PAS_BRD_ARR,AT_LOWG,TOT,INTL,2018,441657,NaN
2,dataflow,ESTAT:AVIA_PAOA(1.0),A,PAS,PAS_BRD_ARR,AT_LOWG,TOT,INTL,2019,448662,NaN
3,dataflow,ESTAT:AVIA_PAOA(1.0),A,PAS,PAS_BRD_ARR,AT_LOWG,TOT,INTL,2020,76334,NaN
4,dataflow,ESTAT:AVIA_PAOA(1.0),A,PAS,PAS_BRD_ARR,AT_LOWG,TOT,INTL,2021,82843,NaN

Degut a la forma com em generat el dataframe tenim columnes que no es aporten cap valor ja que contenen el mateix valor per a totes les files, seleccionem les columnes que ens seran d'utilitat.

In [32]:
#Seleccionem les columnes utils
df_passengers = df_passengers[["tra_meas","rep_airp","tra_cov","TIME_PERIOD","OBS_VALUE"]]

La culumna rep_airp conte el codi del pais i el codi de l'aeroport, ho separem en dues variables.

In [33]:
#separem en dos culmnes
df_passengers[['country_code', 'airport_code']] = df_passengers['rep_airp'].str.split('_', expand=True)
#eliminem la columna antiga
df_passengers = df_passengers.drop('rep_airp', axis=1)

In [34]:
#Adecuem el format de la columna tra_meas i tra_cov i el nom d'algunes columnes per fer-los més entenedors
df_passengers['tra_meas'] = df_passengers['tra_meas'].replace({'PAS_BRD_ARR': 'Arrivals', 'PAS_BRD_DEP': 'Departures'})
df_passengers['tra_cov'] = df_passengers['tra_cov'].replace({'INTL': 'International', 'NAT': 'National'})
df_passengers = df_passengers.rename(columns={'tra_meas': 'direction', 'tra_cov':'coverage', 'OBS_VALUE':'passengers', 'TIME_PERIOD':'year'})

In [35]:
df_passengers.head()

  direction       coverage  year  passengers country_code airport_code
0  Arrivals  International  2017      408716           AT         LOWG
1  Arrivals  International  2018      441657           AT         LOWG
2  Arrivals  International  2019      448662           AT         LOWG
3  Arrivals  International  2020       76334           AT         LOWG
4  Arrivals  International  2021       82843           AT         LOWG

**Nota**: Hi ha alguns aeroports dels que no disposem de les dades de tots els anys o de totes les modalitats. Ho haurem de tenir en compte segons la pregunta que volem respondre o la visualització que estem realitzant.

Passem ara a treballar amb el dataset complementari per tal d'obtenir les localitzacions dels aeroports.

In [36]:
#Lectura del fitxer
df_locations = pd.read_csv('iata-icao.csv')
#seleccio de files necessaries
df_locations = df_locations.loc[df_locations['icao'].isin(df_passengers['airport_code'])]

In [40]:
#seleccio de columnes rellevants
df_locations = df_locations[["icao", "airport", "latitude", "longitude"]]

In [41]:
df_locations.head()

     icao                                  airport  latitude  longitude
202  LOWL       Linz Airport (Blue Danube Airport)   48.2332    14.1875
203  LOWS                         Salzburg Airport   47.7933    13.0043
204  LOWK                       Klagenfurt Airport   46.6425    14.3377
205  LOWG                             Graz Airport   46.9911    15.4396
206  LOWI  Innsbruck Airport (Kranebitten Airport)   47.2602    11.3440

Per cada codi d'areport tenim el seu nom, la latitud i la longitud on es troba.

In [42]:
#guardem els fitxers
df_passengers.to_csv('passengers.csv', index=False)
df_locations.to_csv('airports_locations.csv', index=False)